@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.calculator-container {
    margin: auto;
    width: 400px;
}
.calculator {
    border: 2px solid #000;
    width: 400px;
    padding: 20px;
    background-color: #FFA69E;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-family: 'Space Mono', monospace;
    color: #5E6472;
}

.display-container {
    border: 2px solid #000;
    background-color: white;
    text-align: right;
    padding: 5px 5px;
    font-size: 2em;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;    
}

.display-container p {
    margin: 0;
}

.button-container {
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-row {
    /* border: 2px solid #000; */
    display: flex;
    align-content: space-between;
}

.button {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: hsl(188, 45%, 78%);
    flex-basis: 100px;
    padding: 40 0;
    height: 75px;
    vertical-align: middle;
    line-height: 75px; 
}

#zero {
    flex-basis: 204px;
    /* flex-grow: 2; */
}

.button.misc {
    background-color: hsl(46, 74%, 92%);
}

.button.operator {
    /* background-color: hsl(168, 53%, 87%); */
    background-color: hsl(168, 69%, 84%);
}